@font-face {
 font-family: 'Muli';
 src: url('../fonts/Muli.ttf') format('TrueType');
 font-weight: 125 950;
 font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(170,170,170,0.1);
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(170,170,170,0.4);
}

html {
  background-color: #151515;
  scroll-behavior: smooth;
  font-size: 16px;
}

html, body {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  font-size: 1rem;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: transparent;
  justify-content: space-between;
  flex-direction: row;
  z-index: 8;

  transition: all 0.2s ease;
}

body.scroll .nav {
  background: #151515;
}

.nav .logo {
  display: block;
  width: 10vh;
  height: 10vh;
  line-height: 10vh;
  font-size: 1.6rem;
  color: #FAFAFA;
  text-align: center;
  text-decoration: none;
}

.nav .logo svg {
  width: 4vh;
  height: 4vh;
  margin: 3vh;
}

.nav .logo svg path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 30s linear forwards infinite;
}

.nav .menu {
  display: block;
  width: 10vh;
  height: 10vh;
  line-height: 10vh;
  font-size: 1.6rem;
  color: #FAFAFA;
  text-align: center;
  text-decoration: none;
}

.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10vh 1vw 1vw 1vw;
  overflow-y: hidden;
  overflow-x: auto;
  flex-direction: row;
}

.container > .intro {
  display: block;
  position: relative;
  width: 25vw;
  height: 100%;
  margin: 0;
  padding: 4vw 2vw;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

.container > .intro > h1 {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0 0 1vh 0;
  padding: 0;
  font-weight: 550;
  font-size: 2.5rem;
  color: #FAFAFA;
}

.container > .intro > h1 span {
  display: inline-block;
}

.container > .intro .bio {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  color: #9E9E9E;
  font-size: 1rem;
}

.container > .intro .social-media {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4vh;
  color: #FAFAFA;
  font-size: 0.8rem;
  line-height: 4vh;
  margin: 5vh 0 0 0;
  padding: 0 1vh;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
}

.container > .intro .social-media a {
  display: inline-block;
  color: #FAFAFA;
  height: 3vh;
  font-size: 1rem;
  font-weight: 550;
  line-height: 3vh;
  text-decoration: none;
}

.container > .posts {
  display: block;
  position: relative;
  height: auto;
  width: auto;
  margin: 5vh 0;
  padding: 10vh 0 5vh 0;
  box-sizing: border-box;
  flex-grow: 1;
}

.container > .posts:nth-child(3) {
  margin: 5vh 0 5vh 1vh;
}

.container > .posts::after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(21,21,21,1) 0%, rgba(21,21,21,0) 10%, rgba(21,21,21,0) 100%);
}

.container > .posts h1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  margin-bottom: 3vh;
  font-size: 1.6rem;
  font-weight: 250;
  line-height: 5vh;
  text-align: center;
  color: #EEE;
}

.container > .posts .list {
  display: flex;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.container > .posts .list::-webkit-scrollbar {
  display: none;
}

.container > .posts .list .post {
  display: block;
  position: relative;
  width: calc(50% - 0.5vh);
  height: 40vh;
  background-color: #202022;
  color: #FAFAFA;
  margin: 0 0 1vh 0;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  animation: 0.25s ease-out 0s 1 fadeIn;

  background-size: cover;
  background-repeat: no-repeat;
}

.container > .posts .list .post::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(32,32,34,0.7);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);

  transition: all 0.2s ease;
}

.container > .posts .list .post::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 0px;
  background: #FAFAFA;
  transition: all 0.2s ease;
}

.container > .posts .list .post:hover::before {
  background-color: rgba(32,32,34,1);
}

.container > .posts .list .post:hover::after {
  height: 100%;
}

.container > .posts .list .post.wide {
  width: 100%;
}

.container > .posts .list .post > .description {
  display: block;
  position: absolute;
  top: 2vh;
  left: 2vh;
  width: calc(100% - 4vh);
  height: 50%;
  line-height: 4vh;
  font-size: 0.8rem;
  box-sizing: border-box;
  margin: 0;
  padding-right: 2vh;
  color: #AAA;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}

.container > .posts .list .post > .description .category {
  display: block;
  color: #FAFAFA;
  text-transform: uppercase;
  font-weight: 650;
  font-size: 0.9rem;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}

.container > .posts .list .post > .title {
  display: flex;
  position: absolute;
  bottom: 2vh;
  left: 2vh;
  width: calc(100% - 4vh);
  height: 50%;
  line-height: 7vh;
  font-size: 1.4rem;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  margin: 0;
  padding-right: 2vh;
}

.container > .posts .list .post > .title span {
  align-self: flex-end;
}

.container > .posts > .icon-scroll,
.container > .posts > .icon-scroll:before {
  position: absolute;
  left: 50%;
  bottom: 1vh;
  z-index: 3;
}

.container > .posts > .icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  pointer-events: none;

  transition: all 0.8s ease;
}

.container > .posts > .icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

body.scroll-remove .container > .posts > .icon-scroll {
  opacity: 0;
}

.post-popup {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32,32,34,0.7);
  cursor: pointer;
  z-index: 9;

  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease;
}

.post-popup.active {
  opacity: 1;
  pointer-events: auto;
}

.post-popup > .dialog {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95vw;
  height: 90vh;
  padding: 3vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-50%) translateY(-60%);
  background-color: #202022;
  cursor: default;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  color: #9E9E9E;

  transition: all 0.2s ease;
}

.post-popup.active > .dialog {
  transform: translateX(-50%) translateY(-50%);
}

.post-popup > .dialog .close {
  display: block;
  position: absolute;
  top: 2vh;
  right: 1.5vh;
  width: 5vh;
  height: 5vh;
  line-height: 5vh;
  font-size: 1.6rem;
  z-index: 2;
  color: #EEE;
  text-align: center;
  cursor: pointer;
}

.post-popup > .dialog .close ion-icon {
  pointer-events: none;
}

.post-popup > .dialog > .head {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 0 5rem 0;
  padding: 0 1rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.post-popup > .dialog > .head > .before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(30px) brightness(50%);
  transform: scale(1.1);
  background-image: url('../img/posts/Announcement-1.jpg');
  opacity: 0.5;
  z-index: -1;
}

.post-popup > .dialog > .head .category {
  display: block;
  position: relative;
  width: 100%;
  height: 4vh;
  color: #FAFAFA;
  margin: 0 auto 2vh auto;
  clear: both;
  text-align: center;
}

.post-popup > .dialog > .head .category span {
  display: inline-block;
  padding: 0 1rem;
  text-align: center;
  line-height: 4vh;
  font-size: 0.8rem;
  font-weight: 1000;
  border-radius: 20px;
  text-transform: uppercase;
  background: #FAFAFA;
  color: #212121;
}

.post-popup > .dialog > .head .date {
  display: block;
  position: relative;
  width: 100%;
  height: 4vh;
  line-height: 4vh;
  font-size: 0.9rem;
  font-weight: 300;
  color: #CECECE;
  margin: 0 0 1vh 0;
  text-align: center;
}

.post-popup > .dialog > .head h1 {
  display: block;
  position: relative;
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  font-size: 2rem;
  font-weight: 350;
  color: #FAFAFA;
  margin: 1vh 0 4vh 0;
  text-align: center;
}

.post-popup > .dialog > .head .description {
  color: #FAFAFA;
  font-size: 0.8rem;
}

.post-popup > .dialog .body {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 15vh;
  margin: 0 0 2rem 0;
  box-sizing: border-box;
  text-indent: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Situational styles for custom messages and formatting. */
.post-popup > .dialog .body a {
  text-decoration: none;
  color: #FAFAFA;
}

.post-popup > .dialog .body .image {
  display: block;
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0 auto 2rem auto;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/posts/Announcement-1.jpg');

  transition: all 0.2s ease;
}

.post-popup > .dialog .body span.credits {
  display: block;
  text-indent: 0;
  color: #AEAEAE;
  font-size: 2vh; /* Fix later */
  margin-top: 2vh;
}

@media only screen and (max-width: 767px) {
  .nav {
    display: flex;
  }

  .container {
    display: block;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/wall.jpg');
    filter: blur(30px) brightness(30%);
    z-index: -1;
  }

  .container > .intro {
    display: block;
    position: relative;
    width: 100%;
    height: 75vh;
    margin: 0;
    padding: 25px;
    box-sizing: border-box;
  }

  .container > .intro > h1 {
    margin: 0 0 30px 0;
    font-size: 2rem;
  }

  .container > .intro .bio {
    font-size: 1rem;
  }

  .container > .posts {
    margin: 5vh 0;
    padding: 85px 0 20px 0;
  }

  .container > .posts::after {
    background: none;
  }

  .container > .posts h1 {
    width: 100%;
    height: 55px;
    font-size: 1.8rem;
    line-height: 55px;
  }

  .container > .posts .list .post {
    height: 55vw;
  }

  .container > .posts .list .post > .description {
    line-height: 1rem;
    font-size: 0.8rem;
  }

  .container > .posts .list .post > .description .category {
    display: block;
    color: #FAFAFA;
    text-transform: uppercase;
    font-weight: 650;
    font-size: 1.6vh
  }

  .container > .posts .list .post > .title {
    line-height: 2rem;
    font-size: 1rem;
  }

  .post-popup > .dialog {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(-10%);
    padding: 0;
  }

  .post-popup.active > .dialog {
    transform: translateX(0%);
  }

  .post-popup > .dialog .close {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .post-popup > .dialog .body {
    padding: 0 2rem;
  }

  .post-popup > .dialog .body .image {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    margin: 0 auto 2rem auto;
  }
}

/* ************************ */
/* Animations               */

@keyframes fadeIn {
  0% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  20% {
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dashoffset: 2000;
  }
  30% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
